# use '#' head to add comment
# use "name = value" line to add config
#will split by '=', so name should not include '='.
#will do trim when deal name and value.
#name is not case sensitive

#dbpath db_path
dbPath = jdbc:sqlite:./db/shop.db
#scriptdirectory script_directory
scriptDirectory = ./scripts

#will create if directory not exist
#logfile log_file
logFile = ./check_log/check.log

#classname class_name
className = org.sqlite.JDBC